<!DOCTYPE html>
<html>
<head>
<div class=titlebar>
<h1 id=titlecolor><img src="https://performbetter.co.uk/wp-content/uploads/2018/06/workout-logo.png" id="logo">Azure Workout</h1>
</div>

</head>

<body>
    <div class = "topnav">
        <nav>
            <ul>
                <li><%= link_to 'Home', home_index_path %></li>
                <li><%= link_to 'Workout Log', new_logs_path%></li>
                <li><%= link_to 'Progress',  new_users_path %></li>
                <li><%= link_to 'Account',new_accounts_path %></li>
                <li><%= link_to 'Contact Us', new_contacts_path %></li>
            </ul>
        </nav>
    </div>
    
    <div class=content>
        <p> Welcome to Azure Workout! </p><br>
        
        <p> Azure Workout is a free web application that was created to maximize people's time at the gym. 
        It gives you the ability to log and track your health and progress on exercises. We keep things simple.
        You log your workout, any biodata you want to provide, and we display your progress in easy-to-understand visuals.</p><br>
        
        <p> We're focused on making you as productive as possible while keeping your data safe.</p>
    </div>
</body>

</html>

