<!DOCTYPE html>
<html>
<head>
<div class=titlebar>
<h1 id=titlecolor><img src="https://performbetter.co.uk/wp-content/uploads/2018/06/workout-logo.png" id="logo">Azure Workout</h1>
</div>
</head>

<body>
    <div class = "topnav">
        <nav>
            <ul>
                <li><%= link_to 'Home', home_index_path %></li>
                <li><%= link_to 'Workout Log', logs_path%></li>
                <li><%= link_to 'Progress',new_progress_path %></li>
                <li><%= link_to 'Account',new_account_path %></li>
                <li><%= link_to 'Contact Us', new_contact_path%></li>
            </ul>
        </nav>
    
    </div>
    
    <div class = "logs-show">
        <p>
            <strong>Date:</strong>
            <%= @log.date %>
        </p>
        
        <p>
            <strong>Focus:</strong>
            <%= @log.focus%>
        </p>
        
        <p>
            <strong>Details:</strong>
            <%= @log.details %>
        </p>
        <%= link_to 'Workout Log List', logs_path %>
    </div>
    
    
</body>
    
</html>