<html>
<head>
<div class=titlebar>
<h1 id=titlecolor><img src="https://performbetter.co.uk/wp-content/uploads/2018/06/workout-logo.png" id="logo">Azure Workout</h1>
</div>
</head>

<body>
    <div class = "topnav">
        <nav>
            <ul>
                <li><%= link_to 'Home', home_index_path %></li>
                <li><%= link_to 'Workout Log', logs_path%></li>
                <li><%= link_to 'Progress',new_progress_path %></li>
                <li><%= link_to 'Account',new_account_path %></li>
                <li><%= link_to 'Contact Us', new_contact_path%></li>
            </ul>
        </nav>
    </div>
  
    <div class=contentaccount>
        <div class=col-container>
            <div class="col">
                
                <h1>Create an account</h1>
                <%= form_for :account, url: accounts_path do |f| %>
                
                <% if @account.errors.any? %>
                     <div id="error_explanation">
                        <h2>
                            <%= pluralize(@account.errors.count, "error") %> prohibited
                            this article from being saved:
                        </h2>
                        <ul>
                            <% @account.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                            <% end %>
                        </ul>
                     </div>
                <% end %>
        
                
                <p>
                <%= f.label :name %><br>
                <%= f.text_field :name %>
                </p>
                
                <p>
                <%= f.label :email %><br>
                <%= f.text_field :email %>
                </p>
                
                <p>
                <%= f.label :password %><br>
                <%= f.text_field :password %>
                </p>
                
                <p>
                <%= f.label :gender %><br>
                <%= f.select :gender, ['female', 'male'] %>
                </p>
                
                <p>
                <%= f.label :DOB %><br>
                <%= f.text_field :dob %>
                </p>
                
                <p>
                <%= f.label :height %><br>
                <%= f.select :feet, ['4', '5', '6', '7'] %> Feet
                <%= f.select :inches, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'] %> Inches
                </p>
                
                <p>
                <%= f.label :weight %><br>
                <%= f.text_field :weight %>
                </p>
                
                <p>
                <%= f.submit %>
                </p>
                
                <% end %>
            </div>
        </div>
    </div>

</body>

</html>